body {
    font-family: Arial, sans-serif; 
    background-color: #f4f4f4; 
    margin: 0; 
    padding: 0; 
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
}
.container {
    background-color: white;
    padding: 20px; border-radius: 5px; box-shadow: 0 0 10px
}
.form-group {
    margin-bottom: 15px;
}
.form-group label { 
    display: block; 
    margin-bottom: 5px;
}
.form-group input {
    width: 100%; 
    padding: 8px; 
    box-sizing: border-box;
}
.form-group .error { 
    color: red; 
    font-size: 0.875em;
}
.contact-info {
    display: flex;
    gap: 20px; 
}
.contact-info .form-group {
    flex: 1; 
}
#address {
    height: 80px;
    padding-top: 8px;
    vertical-align: top;
}
.button-group {
    padding: 10px; 
    /* margin: 10px; */
    gap: 10px;
    display: flex;
}
.submit-btn {
    background-color: #007bff; 
    color: white;
    padding: 10px; 
    border: none; 
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
.reset-btn {
    background-color: #b5babe; 
    color: black;
    padding: 10px; 
    border: none; 
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}